
.root{
    -fx-background-color: #daa520;
    background-color: #daa520;
}

.label{
    -fx-text-fill: #f0f8ff;
}
.dark-background {
    -fx-background-color: #333332;
}

.input{
-fx-text-fill: #f0f8ff;
}

.text-style {
    -fx-fill: #f0f8ff;
    -fx-font-size: 16px;
}